table,th,td,p {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 47%;
  }
th{
    color:aqua;
    font-size: 25px;
    padding-left: 1cm;
    text-align: center;
}
input[type=text]{
    width: 180px;
    background-color: white;
    border-radius:3px;
}
input[type=number]{
    width:180px;
    background-color: white;
    border-radius: 3px;
}
select{
    border-radius: 3px;
}


